//FOOTER MD A MENOS
.footer{
    width: 100%;
        height: 200px;
        background: $black; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    &__text{
        width: 220px;
        color: $white;
        text-align: center;
    }
    &__buttons{
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            margin-right: 20px;
            text-decoration: none;
            color: $white;
             
            margin-bottom: 10px;  
        }
        a:hover{
            color: $silver;
        }
        &-form{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        input{
            width: 150px;
            height: 26px;
            border-radius: 5px;   
            margin-bottom: 5px;  
            margin-right: 5px;  
        }
        input:focus {
            background-color: $tangerine;
        }
    }
    //FOOTER LG A MAS
    @media (min-width:$min-lg){
        width: 100%;
        height: 100px;
        background: $black;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px;
        &__text{
            width: 320px;
            align-items: center;
            color: $white;
        }
        &__buttons{
            flex-direction: row;
            align-items: center;
            color: $white;
            a{
                margin-right: 20px;
                text-decoration: none;
                color: $white;     
            }
            a:hover{
                color: $silver;
            }
            &-form{
                flex-direction: row;
            }
            input{
                width: 150px;
                border-radius: 5px;
                margin-right: 5px;
            }
            input:focus {
                background-color: $tangerine;
            } 

    }
}
}
