//NAVEGADOR
.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    
    &__logo{
        margin-left: 15px;
        img{
            width: 35px;
        }
    }
    &__links{
        width: 120%;
        position:fixed;
        top:60px;
        left: -40px;
        background: $sable;
        opacity: 80%;
        ul{
            width: 130px;
            display: block;
            list-style: none;
            a{
                color: $white;
                text-decoration: none;
                font-weight: bold;
        }
        a:hover{
            color: $orange;
        }
}
        // LINKS LG A MAS     
        @media (min-width:$min-lg){
            width: 350px;
            position: relative;
            background: none;
            top: 0px;
            opacity: 100%;
            ul{
                width: 350px;
                display: flex;
                list-style: none;
                a{
                    color: $white;
                    text-decoration: none;
                    font-weight: bold;
                    margin-left: 20px;
                }
            }
            
        }
    }
}

//BURGER
.burgerbutton{
    display: block;
    position: absolute;
    right: 20px;
    font-size: 30px;
    color: $white;
    @media (min-width:$min-lg){
        display: none;
    }
    }
    .burgerbutton:hover{
        color: $orange;
    }


    #burger{
        display:none;
    }
    #burger:checked ~ .nav__links{
        display: block;

    }