//MAIN
.main{
    width: 100%;
    height: auto;
    font-family: $ubuntu-family
}

//SECTION
.section{
    border: 1px solid $sable;
    padding: 30px 20px;
    // CARDS
    &__card{
        border: 1px dotted $sable;
        padding-top: 10px;
        margin-bottom: 10px;
        h3{
            font-size: 1.5rem;
            margin: 20px 10px;
        }
        p{
            margin: 20px 10px;
            letter-spacing: 0.1rem;
            
        }
        h5{
            font-size: 1.1rem;
            margin: 10px 10px;
        }
        //CARD 1
        &-1{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                @include img-object-fit(300px,fill,0)
            }   
        }
        //CARD 2
        &-2{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                @include img-object-fit(400px,fill,0)
            }
        }
    }
    //ICONS
    &__icon{
        align-items: center;
        margin: 0px 10px;
        p{
            margin-right: 10px;
            margin-left: 2px;
        }
    }
}

//ARTICLE
.article{
    border: 1px solid $sable;
    width: 100%;
    //IMAGEN PNG
    &__option{
        display: flex;  
        align-items: center;
        flex-direction: column;
        position: relative;
        padding-bottom: 20px;
        img{
            margin-top: 20px;
            width: 180px;
            border-radius: 90px;
            border: 1px solid $black;
        }
        h3{
            font-size: 1.2rem;
        }
        i{
            margin-left: 10px;
        }
        //PARRAFO
        &-2{
            justify-content: center;
            letter-spacing: 0.1rem;
        }
        &-2-1{
            width: 96%;
        }
        //SUB-TITULO
        &-3{  
            justify-content: center;
        }
        &-3-1{  
            width: 96%;
            height: 30px;
            background: $silver;
            justify-content: center;
            align-items: center;
            h3{
                color: $white;
            }    
        }
        //LISTAS
        &-4{
            ul{
                list-style: circle; 
                margin-top: 20px;         
            }
            li{
                margin-top: 10px; 
            }
            a{
                text-decoration: none;
                width: 100%;            
            }
        }
        //IMAGEN SVG
        &-5{
            width: 100%;
            justify-content: center;
            align-items: center;
            svg{
                width: 300px;
            }
        }
    }
}